<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DemoSuite" verbose="2">
    <test name="AllTests">
<!--        <classes>
            <class name="com.hp.demo.e2e.image.ImageUseCaseTest" />
        </classes>-->
        <packages>
            <package name="com.hp.demo.client.contact" />
            <package name="com.hp.demo.client.image" />
            <package name="com.hp.demo.client.login" />
            <package name="com.hp.demo.client.rest" />
            <package name="com.hp.demo.client.search" />
            <package name="com.hp.demo.server.contact" />
            <package name="com.hp.demo.server.account" />
            <package name="com.hp.demo.server.tasks" />
            <package name="com.hp.demo.server.search" />
        </packages>
    </test>
</suite>